/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*main*/
body {
  margin-top: 0;
  font-family: sans-serif;
  background: #827d58; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #99cac5 , #0043ff96); /* Standard syntax */
}
hr {

   color: #fba882;
}
p {
  text-align: center;
}

/*place index (root path)*/
.main-title {
  color: #fba882;
  text-align: center;
  font-size:95px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Questrial', sans-serif;
  border-bottom: 2px solid  #fba882;
}
.place-index-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.place-links {

  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}
.place-links:hover {
  text-decoration: underline;
}

.place-index-img {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}
/*dropdown menu*/
.dropbtn {
    position: fixed;
    background-color: #e6e5d8;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 200px;
    padding-top: 20px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .home-links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .home-links:hover {background-color: #fba882}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #ccaf92;*/
}
/*place post index*/
.post-index-photo {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}
.post-index-wrapper {
  /*padding-top: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-index-wrapper2 {

}
.post-title {
  color: white;
  text-decoration: none;
  font-size: 33px;
}
.post-title:visited {
  color: white;
  font-size: 33px;
}
.post-title:hover {
  text-decoration: underline;
}
.create-date {
  font-size: 10px;
  padding-left: 10px;
}
.slash {
  color: #cccccc;
}
.edit-delete {
  color: white;
  text-decoration: none;
}
.edit-delete:visited {
  color: white;
}
.edit-delete:hover {
text-decoration: underline;
}
.photo {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}

/*post show page*/
.post-show-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-title {
  color: white;
}
.tags {
  text-align: center;
}
.guess-created {
  font-size: 12px;
}
.guess-text {

}
.guesses {
  border: 2px solid black;
  width: 600px;
  background-color: #fff8f863;

}
.guess-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
