/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*main*/
body {
  margin-top: 0;
  font-family: sans-serif;
  background: #99cac5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #99cac5, #0043FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #99cac5, #0043ff96); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#99cac5, #0043FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #99cac5, #0043ff96); /* Standard syntax */
  font-family: 'Questrial', sans-serif;

}
hr {

   color: #ffdfd0;
}
p {
  text-align: center;
}

/*place index (root path)*/
.main-title {
  color: #ffdfd0;
  text-align: center;
  font-size: 95px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Questrial', sans-serif;
  border-bottom: 2px solid  #fba882;
}
.place-index-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.place-links {

  color: #ffe1e1;
  text-decoration: none;
  font-size: 25px;
}
.place-links:hover {
  text-decoration: underline;
}

.place-index-img {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}
/*dropdown menu*/
.dropbtn {
    position: fixed;
    margin-top: 20px;
    background-color: #e6e5d8;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown {
    position: fixed;
    left: 10px;
    top: 50px;


    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .home-links {
    margin: 20px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .home-links:hover {background-color: #99cac5}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #ccaf92;*/
}
/*place post index*/
.post-index-photo {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}
.post-index-wrapper {
  /*padding-top: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-index-wrapper2 {

}
.post-title {
  color: #ffe1e1;
  text-decoration: none;
  font-size: 55px;
}
.post-title:visited {
  color: #ffe1e1;
}
.post-title:hover {
  text-decoration: underline;
}
.create-date {
  font-size: 10px;
  padding-left: 10px;
}
.slash {
  color: #cccccc;
}
.edit-delete, .arrows{
  color: white;
  text-decoration: none;
}
.edit-delete:visited {
  color: white;
}
.edit-delete:hover {
text-decoration: underline;
}
.photo {
  background-color: #e6e5d8;
  padding: 7px;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);
}

/*post show page*/
.post-show-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-title {
  margin-top: 0;
  color: #ffe1e1;
  font-size: 55px;
  font-family: 'Questrial', sans-serif;
}
.tags {
  text-align: center;
}
.add-tags {
  text-align: center;
}
.tag-content {
  font-size: 13px;
  color: white;
  background-color: #42413c;
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-decoration: none;
  /*box-shadow: 4px 6px 5px 3px rgba(0,0,0,0.2);*/
}
.tag-content:hover {
  text-decoration: underline;
}
.guess-created {
  font-size: 12px;
}
.guess-text {

}
.guesses {
  box-shadow: 8px 8px 12px 3px rgba(0,0,0,0.2);

  border: 2px solid black;
  width: 600px;
  background-color: #fff8f863;

}
.guess-wrapper {

  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*tag show page*/
.tag-show-wrapper {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag {
  padding-bottom: 30px;
  text-align: center;

}
.tag-show-content {
  display: inline;
  align-items: center;
  background-color: #42413c;
  padding: 5px;
  color: white;
  font-size: 15px;
  height: auto;
  width: 50px;
  border: 3px solid black;
}
/*flash alerts*/
.notice {
  font-size: 25px;
  color: white;
  margin-left: 850px;
  position: absolute;
  text-align: center;
}
.alert {
  font-size: 25px;
  color: white;
  margin-left: 850px;
  position: absolute;
  text-align: center;
}
.comment-edit-delete, .score {
  color: #5f70ff;
  text-decoration: none;
}
.comment-edit-delete:visited {
  color: #5f70ff;
  text-decoration: none;
}
/*simple forms*/

.simple_form {
margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    margin: 0 auto;
    font-size: 33px;
    width: 450px;
    background: #9ab9d8;
    padding: 30px 30px 15px 30px;
    border: 5px solid #dedede;

}
.simple_form label{
    padding:5px;
    display:inline;
    font-weight: bold;
}
.simple_form input{

    margin-top: 25px;
    padding: 5px;
    display: inline;
    font-weight: bold;
}

abbr[title="required"] {
  display: none;
}
.comment-form {

  margin: 0 auto;
  width: 200px;
  box-sizing: border-box;
}
.simple_form .error {
  font-size: 2px;
}
