<h1>title goes here</h1>

<% @places.each do |place| %>
  <p><%= link_to place.city, place_posts_path(place)  %>, <%= place.state %></p>
  <p><%= place.country %></p>
  <img src="<%=place.place_photo_url%>"/>
<% end %>
